body {
  /* height: 1000vh; */
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 17, 44));
  /* background-image: url(images/hogwartscastle.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

canvas {
  height: 100%;
  width: 100%;
  border: solid;
  border-color: aliceblue;
}

bgvideo {
  display: flex;
  position: absolute;
}

.logo {
  display: flex;
  margin-left: -2rem;
}

.logo img {
  width: 11rem;
}

.navigation {
  color: aliceblue;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
  width: 80%;
  margin-left: -43px;
}

.navlist li {
  padding-inline: 33px;
}

.navlist a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
  font-family: 'Elsie Swash Caps', cursive;
}

.navlist a:hover{
  color: yellow;
  text-shadow: 0 0 11px yellow;
}

.searchbar {
  width: 20%;
  border: none;
  outline: none;
}

.search {
  background: none;
  border: none;
  color: aliceblue;
  border-bottom: solid;
  border-width: 1px;
  width: 11rem;
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 1.3rem;
  outline: none;
}

.srchbtn {
  background: none;
  color: aliceblue;
  font-family: 'Elsie Swash Caps', cursive;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  /* border-width: 0.05rem;
  border-radius: 20px; */
  /* padding: 5px 10px; */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}

.srchbtn:hover {
  color: yellow;
  text-shadow: 0 0 11px yellow;
}

.bgeffect {
  display: flex;
  /* position: absolute; */
  scale: 0.2;
  /* margin-top: 1rem; */
  /* border: solid; */
  /* border-color: aliceblue; */
  height: 100%;
  opacity: 70%;
}